@import '../variables';

$tab-margin: 0.3rem;

.root {
	overflow-x: hidden;
}

.tab-bottom-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: $tab-margin;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	a {
		display: flex;
		justify-content: center;
	}

	&-margin { // goes to parent to give space to bottom on page
		margin-bottom: calc(42px + #{$spacer});
	}
}

.nav-link.active {
	color: $palette-accent-orange !important;
	background: whitesmoke !important;
}

.icon-home {
	@include visit-finland-background();
	$dimension: 24px;
	height: $dimension;
	width: $dimension;
	-webkit-filter: grayscale(1);

	.active & {
		-webkit-filter: none;
	}
}

.nav-item {
	margin: 0 $tab-margin;

	&:first-of-type {
		margin-right: 0;
	}

	&:last-of-type {
		margin-left: 0;
	}
}